<!DOCTYPE html>
<html>
    <head>
        <title>weather App</title>
    </head>
    <body>
        <h3>My weather App</h3>
        <form action="/current" method="POST">
            <label>city: </label>
            <input id="location" type="text" placeholder="cityName" name="city"><br><br>
            <button>current Report</button>
        </form>
        
        
    </body>
</html>