<!DOCTYPE html>
<html>
    <head>
        <title>weather App</title>
    </head>
    <body>
        <h3>My weather App</h3>
        <form action="/forecaste" method="POST">
            <label>city: </label>
            <input id="location" type="text" placeholder="cityName" name="city"><br><br>
            <hr>
            Add your Label<br>
            (if you don't want to chance the label, leave it empty)<br><br>
            <label>city: </label><input name="town"><br>
            <label>country: </label><input name="country"><br>
            <label>region: </label><input name="region"><br>
            <label>condition: </label><input name="condition"><br>
            <label>Min Temp(c): </label><input name="minTempC"><br>
            <label>Max Temp(c)</label><input name="maxTempC"><br>
            <label>Sunrise:</label><input name="sunRise"><br>
            <label>SunSet: </label><input name="sunSet"><br>
            <label>Rain Chance: </label><input name="chanceRain"><br>
            <label>Snow chance: </label><input name="chanceSnow"><br>
            <label>updated on: </label><input name="updatedOn"><br>
            <label>URI: </label><input name="forecasteURI"><br><br>
            <button>Forecast Report</button>
        </form>    
    </body>
</html>