<!DOCTYPE html>
<html>
    <head>
        <title>weather App</title>
    </head>
    <body>
        <h3>My weather App</h3>
        <form method="GET" action="/currentWeather">
            <button>Current Report</button>
        </form>
        <br>
        <br>
        <form method="GET" action="/forecastweather">
            <button>forecast Report</button> 
        </form>         
    </body>
</html>